@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/Fonts/Gilroy-FREE/Gilroy-Light.otf') format('otf'),
  }

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/Fonts/Lato/Lato-Regular.ttf') 
}


@tailwind base;
@tailwind components;
@tailwind utilities;